/* body {
    background: rgb(88,82,180);
background: linear-gradient(90deg, rgba(88,82,180,1) 5%, rgba(174,238,251,1) 34%, rgba(249,249,249,1) 59%, rgba(0,212,255,1) 84%);
height: 100%;
} */
* {
    box-sizing: border-box;
}
:root {
    --color-primary: #8f44fd;
    --tab-width: 300px;
    --button-width: 64px;
}
html, body {
    height: 100%;
}
body {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
    font-family: "Euclid Circular A";
    font-size: 15px;
    line-height: 1.5;
    background: #24262a;
    color: #f9f9f9;
    

}
input {
    display: none;
}
label {
    padding: 20px;
    font-size: 15px;
    width: var(--button-width);
    opacity: 0.35;
    cursor: pointer;
}
.widget {
    background: #2d3036;
    width: var(--tab-width);
    border-radius: 8px;
    
}
.content {
    position: relative;
    overflow: hidden;
    height: 140px;    
}
.content-inner {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: calc(var(--tab-width) * 3);
    transition: 0.3s;
}
.content-inner > div {
    width: inherit;
    padding: 20px;   
}
.buttons {
    position: relative;
    display: flex;
    border-bottom: 1px solid #575757;
}
.underline {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 64px;
    height: 3px;
    background: var(--color-primary);
    transition: 0.2s;    
}
.tabs input:nth-child(1):checked ~
.buttons .underline {
    translate: 0 0;
}

.tabs input:nth-child(2):checked ~
.buttons .underline {
    translate: var(--button-width) 0;
}

.tabs input:nth-child(3):checked ~
.buttons .underline {
    translate: calc(var(--button-width) * 2) 0;
}
/* add extra rules for more tabs "Agregar reglas adicionales para más pestañas"  */
.tabs input:nth-child(1):checked ~ .buttons label:nth-child(1),
.tabs input:nth-child(2):checked ~ .buttons label:nth-child(2),
.tabs input:nth-child(3):checked ~ .buttons label:nth-child(3) {
    opacity: 1;
}

.tabs input:nth-child(1):checked ~
.content > .content-inner {
    translate: 0 0;
}

.tabs input:nth-child(2):checked ~
.content > .content-inner {
    translate: calc(0px - var(--tab-width)) 0;
}

.tabs input:nth-child(3):checked ~
.content > .content-inner {
    translate: calc(0px - var(--tan-width) * 2) 0;
}