@import url('https://fonts.cdnfonts.com/css/sting');
 @import url('https://fonts.cdnfonts.com/css/letter-sketch');
 @import url('https://fonts.cdnfonts.com/css/wellston');
                
body{
    background: linear-gradient(75deg, rgb(998, 570, 960), rgb(32, 83, 112));
    height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */  
    
    font-family: 'STING', sans-serif;

    text-align: center;
    font-size: 40px;

}

h1{
    color: rgb(21, 111, 153);
    background: transparent;
    width: 710px;
    /* gap  solo se utiliza cuando utilizas display-flex o grid para dar espacio */
    gap: 1rem;

    display: flex;
    justify-content: center;
}

h1 div.number {
    padding: 4px 10 px;
    min-width: 66px;
}
/* de los div que tengan h1 el quinto hijo */
h1 div.number:nth-child(5) {
    width: 100px;
}


div button {
    border: 3.5px solid rgb(59, 135, 158);
    border-radius: 4px;
    background: transparent;
    color: rgba(8, 41, 78, 0.87);
    padding:10px 14px;
    margin: auto 8px;
    
    font-family: 'Progesterone', sans-serif;

    transition: all 1s;
}

div button:hover {
    box-shadow: 0px 1px 65px 10px rgb(49, 118, 139);
    /* box-shadow: 0px 0px 30px 7px rgba(17, 29, 192, 0.8); */
    border:4px solid rgb(77, 128, 177);
    /* box-shadow: 0 0 3px 7px rgba(41, 151, 179, 0.8); */
    border-width: 4.5px;
    font-size: 1.5rem;
    font-family: 'Letter Sketch', sans-serif;
    /* rem tamaño  */
}

