 @import url('https://fonts.cdnfonts.com/css/mosaico-2');
 @import url('https://fonts.cdnfonts.com/css/vipnagorgialla');
                
body{
    background: linear-gradient(75deg, rgb(958, 450, 960), rgb(112, 32, 102));
    height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */  
    
    font-family: 'Mosaico', sans-serif;

    text-align: center;

}

h1{
    color: rgb(61, 21, 134);
    background: transparent;
    width: 210px;
    
    display: flex;
    justify-content: center;
}

h1 div.number {
    padding: 4px 10 px;
    min-width: 66px;
}
/* de los div que tengan h1 el quinto hijo */
h1 div.number:nth-child(5) {
    text-align: justify;
    padding-left: 15px;
}


div button {
    border: 3.5px solid rgb(161, 101, 173);
    border-radius: 4px;
    background: transparent;
    color: rgb(23, 11, 133);
    padding:10px 14px;
    margin: auto 8px;
    
    font-family: 'Progesterone', sans-serif;

    transition: all 1s;
}

div button:hover {
    box-shadow: 0px 0px 30px 7px rgba(48, 54, 139, 0.8);
    border: 4px solid rgb(77, 128, 177);
    box-shadow: 0 0 3px 7px rgba(48, 145, 148, 0.8);
    border-width: 4.5px;
    font-size: 1.05rem;
    /* rem tamaño  */
}

