/*  */
.apuestas {

    /* justify-content: space-between; */
    justify-content: center;
    gap: 50px;
    font-size: 50px;

    display: none;
    overflow: auto;

}


.coin_10 {
    background-color: rgb(195, 166, 210);
    justify-content: center;
    border-radius: 50%;


}
.coin_25 {
    background-color: rgb(195, 166, 210);
    justify-content: center;
    border-radius: 50%;


}
.coin_50 {
    background-color: rgb(195, 166, 210);
    justify-content: center;
    border-radius: 50%;


}
.coin_100 {
    background-color: rgb(195, 166, 210);
    justify-content: center;
    border-radius: 50%;


}


