body {
    margin: 0%;
    background-color: rgba(1, 8, 12, 0.77);
    color: white;
  }


  img.background {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    box-shadow: 22px -20px 49px 12px rgba(125, 124, 124, 0.78);

  }

  .content-img {
    display: grid;
    /* border-radius: 5px; */
    grid-template-columns: 1fr 1fr;
    box-shadow: 22px -20px 49px 12px rgba(129, 128, 128, 0.78);
  }

  .content-img img {
    width: 100%;
    object-fit: cover;
    height: 442px;
    padding: 2px;
    box-shadow: 22px -20px 49px 12px rgba(100, 98, 98, 0.78);
    
  }
  img, svg {
    vertical-align: middle;
    border-radius: 26px;
}

  .contenedor {
    display: flex;
    width: 90%;
    margin: 0 auto;
    height: 70vh;
    align-items: center;
  }


  .navegacion {
    /* background: transparent; */
    color: rgb(238, 237, 237);

    display: flex;
    justify-content: right;
    justify-content: space-between;

    padding: 0 0 2px;
    font-size: 23px;
  }

  .navegacion a {
    text-decoration: none;
    color: rgb(184, 156, 146);
    border-radius: 5px;


    padding: 15px;
    justify-content: space-between;
    transition: all .4s;
}
.navegacion a:not(:disabled):hover {
  box-shadow: 0px 0px 10px 3px #ffff;
}



  .logo {
    width: 100px;
    display: flex;
    border-style: solid;
    padding: 1rem;
    height: 75%;
  }

  .boton {
    border-style: solid;
    font-weight: 700;
    font-size: 1.125rem;
    width: 150px;
    display: flex;
    padding: 1rem;

  }

  .boton:hover {
    background-color: rgb(241, 241, 214);
  }



  .container {
    border: 1px solid rgb(4, 5, 2);
    
    text-align: center;
  }

  div {
    justify-content: center;
  }

  nav {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: rgb(13, 19, 19);
    color: white;
  }

  .left-container {
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
  }

  section .div-margen {
    margin: 0 auto;
    z-index: -2;
  }

  .div-img {
    padding: 10px;
    border-radius: 30px;
    box-shadow: 5px;
  }

  .div-texto {
    display: flex;
    flex-direction: column;
  }


  .title2 {
    text-align: center;
    padding: 40px;
    color: rgb(199, 181, 181);
  }

  /* .cont {
    justify-content: center;
  } */

  .header-top {
    justify-content: center;
    display: flex;
  }

  .formulario {
    justify-content: center;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* z-index: -3; */
    padding: 15px;
    box-shadow: 22px -23px 59px 12px rgba(128,124,128,0.78);
    border-radius: 35px
  }

  .cont {
    width: 50%;
    margin: 0 auto;
  }

  .cont input {
    width: 100%;
    background-color: transparent;
    /* box-shadow: #ddd; */
    cursor: pointer;
    border-radius: 5px;
    padding: 2px;
    
  }

  input[type='text']:not(:disabled) {
    border: 1px solid rgb(214, 212, 212);
    color: #e9e9f1;
    box-shadow: 0px 0px 4px 1px #775e5e;

    transition: all .4s;
}

  input[type='text']:not(:disabled) :hover {
    box-shadow: 0px 0px 10px 3px #ffff;
    transition: all .4s;
  }

  
  input[type='submit']:not(:disabled) {
    width: 50%;
    border: 2px solid rgb(214, 212, 212);
    border-radius: 5px;
    background-color: #bbb6b6;
    color: #303032;
    box-shadow: 0px 0px 4px 1px #775e5e;

    transition: all .4s;
}
input[type='submit']:not(:disabled):hover {
  box-shadow: 0px 0px 10px 3px #ffff;
}

  .cont textarea {
    width: 100%;
    background-color: transparent;
    border-radius: 5px;
    border: none;


  }

  .fr {
    height: 50vh;
    
  }

  .container-fluid {
    padding: 2rem!important;
    font-size: 38px;

  }