/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: cyan;
}
::selection {
    color: #fff;
    background: cyan;
}
.wrapper {
    width: 420px;
    border-radius: 7px;
    background: #fff;
    padding: 25px 28px 45px;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
}
.wrapper header {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}
.wrapper .search {
    position: relative;
    margin: 35px 0 18px;
}
.search input {
    height: 53px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding: 0 42px;
    border: 1px solid #999;
}
.search input:focus {
    padding: 0 41px;
    border: 2px solid cyan;
}
.search input::placeholder {
    color: #B8B8B8;
}
.search :where(i, span){
    position: absolute;
    top: 50%;
    color: #999;
    transform: translateY(-50%);
}
.search i {
    left: 18px;
    pointer-events: none;
    font-size: 16px;
}
.search input:focus ~ i {
    color: cyan;
}
.search span {
    right: 15px;
    cursor: pointer;
    font-size: 18px;
    display: none;
}
.search input:valid ~ span {
    display: block;
}
.wrapper .info-text {
    font-size: 13px;
    color: #9A9A9A;
    margin: -3px 0 -10px;
}
.wrapper.active .info-text {
    display: none;
}
.info-text span {
    font-weight: 500;
}
.wrapper ul {
    height: 0;
    opacity: 0;
    padding-right: 1px;
    overflow-y: hidden;
    transition: all 0.2s ease;
} */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*:not(i) {
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #ae9cff;
}
.container {
    background-color: #ffffff;
    width: 90vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 80px 50px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
}
.search-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.search-box input {
    padding: 5px;
    width: 70%;
    border: none;
    outline: none;
    border-bottom: 3px solid #ae9cff;
    font-size: 16px;
}
.search-box button {
    padding: 15px 0;
    width: 25%;
    background-color: #ae9cff;
    border: none;
    outline: none;
    color: #ffffff;
    border-radius: 5px;
}
.result {
    position: relative;
}
.result h3 {
    font-size: 30px;
    color: #1f194c;
}
.result .word {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.result button {
    background-color: transparent;
    color: #ae9cff;
    border: none;
    outline: none;
    font-size: 18px;
}
.result .details {
    display: flex;
    gap: 10px;
    color: #b3b6d4;
    margin: 5px 0 20px 0;
    font-size: 14px;
}
.word-meaning {
    color: #575a7b;
}
.word-example {
    color: #575a7b;
    font-style: italic;
    border-left: 5px solid #ae9cff;
    padding-left: 20px;
    margin-top: 30px;
}
.error {
    margin-top: 80px;
    text-align: center;
}